.container {
  width: 100%;
  max-width: 1200px;
  margin: auto;
  margin-top: 20px;
  padding: 0 2rem;
}

.card {
  margin: 10px;
  padding: 10px;
  text-align: center;
  color: #0070f3;
  background-color: #fafafa;
  text-decoration: none;
  border: 1px solid #0070f3;
  border-radius: 10px;
  transition: color 0.15s ease, border-color 0.15s ease;
  min-width: 200px;

  &:disabled {
    opacity: 0.5;
  }
}

.form_field {
  display: flex;
  margin-bottom: 10px;
  .label {
    width: 200px;
    text-align: right;
    padding-right: 20px;
  }
  .value {
    display: flex;
    gap: 10px;
    flex: auto;
    select,
    textarea,
    input {
      flex: auto;
    }
  }
}

input,
textarea,
select,
button {
  border-width: 1px;
  border-radius: 5px;
  min-height: 40px;
  padding: 10px;
}
